.post{
    width: 100%;
    overflow: hidden;
    padding-bottom: 50px;
    margin-bottom: 100px;
    border-bottom: solid 1px var(--main-color);
}

.post:last-of-type{
    border-bottom: none;
}

.post.hide{
    display: none;
}

/* Author */
    .post>.author{
        width: 30%;
        min-width: 300px;
        max-width: 100%;
        height: 80px;
        padding: 3px;
        margin-bottom: 50px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        border-radius: 86px;
        border: solid 3px var(--main-color);
        transition: ease-in-out 0.2s;
    }

        .post>.author:hover{
            color: #FFF;
            background:  var(--main-color);
        }

        .post>.author>img{
            margin: 0 20px 0 0;
            border-radius: 50%;
            border: solid 3px #FFF;
            width: 80px;
            height: 80px;
            object-fit: cover;
            object-position: center;
        }

        .post>.author>section{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-direction: column;
        }
        
        .post>.author>section>*{
            margin: 5px;
        }

        .post>.author>img.follow{
            margin: 0 20px 0 20px;
            border: none;
            width: 40px;
            height: 40px;
        }

    /* Self */
    .post.self>.author{
        color: #FFF;
        background: var(--main-color);
    }

    .post.self>.author>section>h2:after{
        content: 'Vous';
        margin-left: 15px;
        font-weight: 300;
        font-size: 0.7em;
        font-style: italic;
    }

/* Content */
    .post>.content>img{
        margin-top: 20px;
        width: 100%;
        max-height: 700px;
        border-radius: 20px;
        object-fit: cover;
        object-position: center;
    }

/* Details */
    .post>.details{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .post>.details>.category:before{
        content: "";
        display: inline-block;
        border-radius: 50%;
        background: var(--main-color);
        height: 20px;
        width: 20px;
        margin-right: 10px;
        vertical-align: middle;
    }

    .post>.details>.category{
        margin-right: 20px;
    }

    .post>.details>.date{
        border-left: 1px solid var(--main-color);
        padding-left: 20px;
        margin-right: 20px;
    }

    .post>.details>.delete{
        display: none;
    }

    .post.self>.details>.delete{
        display: block;
        border-left: 1px solid var(--main-color);
        padding-left: 20px;
        height: 20px;
        width: 20px;
        cursor: pointer;
    }